<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="J_Explore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <J_Explore.Properties.Settings>
            <setting name="CurrentPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentPaperSize" serializeAs="String">
                <value />
            </setting>
            <setting name="DbHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="DbUsername" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>HELLOWORLD123</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>new_pbo</value>
            </setting>
        </J_Explore.Properties.Settings>
    </userSettings>
</configuration>